:root {
  --text-color: hsl(210, 29%, 24%);
  --bg-color: hsl(0, 0%, 100%);
  --bg-color-zebra: hsl(0, 0%, 96%);
  --text-color-visited: hsl(0, 0%, 53%);

  --border: solid 1px #ddd;

  --content-margin: 5rem;

  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: hsl(0, 0%, 93%);
    --bg-color: hsl(210, 29%, 24%);
    --bg-color-zebra: hsl(210, 29%, 30%);
    --text-color-visited: hsl(0, 0%, 63%);

    --border: solid 1px #ddd;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --content-margin: 1rem;
    --flex-direction: column;
  }
}

@media screen and (max-width: 405px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (max-width: 315px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 280px) {
  :root {
    font-size: 13px;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);

  color: var(--text-color);
}

a {
  color: var(--text-color);
}
a:visited {
  color: var(--text-color-visited);
}

button {
  font-size: 1em;
}

section {
  margin-bottom: 1rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
  flex-direction: var(--flex-direction, row);
  gap: 1rem;
}
.flex-center {
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}

.list-items {
  width: max-content;
  margin-inline: auto;

  line-height: 1.6em;
  text-align: justify;

  list-style-type: none;
}
.list-items__item {
  display: list-item;
}

#app {
  margin: var(--content-margin) var(--content-margin) 0;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-names {
  display: inline-block;
  height: 300px;
  width: 100%;

  border: var(--border);

  overflow-x: auto;
  overflow-y: scroll;
}
.table-names td,
.table-names th,
.table-names tr,
.table-names thead,
.table-names tbody {
  display: inline-block;
  width: 100%;
}
.table-names td,
.table-names th {
  width: calc(100% / 3 );
}
.table-names td {
  border-right: var(--border);
}
.table-names td:last-child {
  border-right: none;
}
.table-names tr {
  border-bottom: var(--border);
}
.table-names tr:last-child:not(:has(> thead)) {
  border-bottom-width: 0;
}
.table-names th,
.table-names td {
  padding: 5px 10px;
}
.table-names tr:nth-child(even) {
  background-color: var(--bg-color-zebra);
}
thead {
  position: sticky;
  top: 0;

  vertical-align: bottom;
  text-align: center;

  background-color: var(--bg-color);
  border: none;
}
/* OLD TABLE STYLING */
/* white-space: nowrap; */
/* .table-names thead {
  position: sticky;
  top: 0;

  vertical-align: bottom;
  text-align: center;

  background-color: var(--bg-color);
} */
/*
tbody {
}
th,
td {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom: solid 1px #ddd;
}
thead,
thead tr,
th {
  display: inline-block;
  width: 100%;
}
tbody {
  width: 100%;
}

th:last-child,
td:last-child {
    border-right-width: 0;
}
 */
