:root {
  --text-color: hsl(210, 29%, 24%);
  --bg-color: hsl(0, 0%, 100%);
  --text-color-visited: hsl(0, 0%, 53%);
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: hsl(0, 0%, 93%);
    --bg-color: hsl(210, 29%, 24%);
    --text-color-visited: hsl(0, 0%, 63%);
  }
}

body {
  background-color: var(--bg-color);

  color: var(--text-color);
}

a {
  color: var(--text-color);
}
a:visited {
  color: var(--text-color-visited);
}

button {
  font-size: 1em;
}

section {
  margin-bottom: 1rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}
.text-center {
  text-align: center;
}

.list-items {
  width: max-content;
  margin-inline: auto;

  line-height: 1.6em;
  text-align: justify;

  list-style-type: none;
}
.list-items__item {
  display: list-item;
}

#app {
  margin: 5rem 5rem 0;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
